.textoRoxo {
    color: #820AD1;
}

.texto {
    color: #333333;
}

.fundo {
    overflow: hidden;
}

.btn-purple {
    /* background-color: #820AD1; */
    background: linear-gradient(to left, #a319ff, #820AD1);
}

.btn-purple:hover,
.btn-purple:active,
.btn-purple:focus {
    background-color: #6409a0
}

.imagem {
    background: linear-gradient(to right, #9021D9, #C474F7);
    border-radius: 28% 72% 93% 7% / 81% 55% 45% 19%;
}

.textoblur {
    text-shadow: rgba(62,66,66,0.4) 3px 4px 3px;
}

.espaco {
    padding-top: 100px;
}
.selecionado{
    color:#F8F9FA;
    background: linear-gradient(to left, #a319ff, #820AD1);
}
.maisInformacoes{
        background: linear-gradient(to left, #a319ff, #820AD1);
}
.fonte{
    font-family: 'DM Serif Display', sans-serif;
}

@media screen and (min-width: 576px) {
    .fontsize{
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 760px) {
    .fontsize{
        font-size: 1.7rem;
    }
}

@media screen and (min-width: 992px) {
    .fontsize{
        font-size: 2.1rem;
    }
}

@media screen and (min-width: 1300px) {
    .fontsize{
        font-size: 2.5rem;
    }
}


/* *{
    border:solid 1px black;
} */


@media screen and (min-width: 576px) {
    .fontsizesmall{
        font-size: 0.65rem;
    }
}
@media screen and (min-width: 760px) {
    .fontsizesmall{
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 992px) {
    .fontsizesmall{
        font-size: 1.1rem;
    }
}

@media screen and (min-width: 1300px) {
    .fontsizesmall{
        font-size: 1.2rem;
    }
}